<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>主页</title>
    <meta name="viewport"
          content="width=divice-width,intital-scale=1,maximum-scale=1,user-scalable=no"></meta>
    <meta charset="utf-8"></meta>
    <!-- <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>
        <link th:href="@{css/.css}" rel="stylesheet"></link> -->
    <link href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"
          rel="stylesheet"></link>

</head>
<body>

<!--主要内容结束-->
<script type="text/javascript" th:src="@{js/jquery.min.js}" src="../js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{layer/layer.js}"></script>
<script type="text/javascript" th:src="@{js/echarts.js}"></script>
<script type="text/javascript" th:src="@{js/macarons.js}"></script>
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {

    })
    //]]>
</script>
</body>
</html>