<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>登录</title>
    <meta name="viewport" content="width=divice-width,intital-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/login.css}" rel="stylesheet">
    <style>

    </style>
</head>
<body>

<div id="title" class="container">
    <div class="row">
        <div id="t1" class="col-xs-2">zhice</div>
        <div id="t2" class="col-xs-9">刀具寿命预测平台</div>
        <div id="t3" class="col-xs-1"><a id="register" href="register" class="btn">注册</a></div>
    </div>

</div>
<div id="content">
    <form class="form-horizontal" onsubmit="return false">
        <div id="img"><img src="image/login-top.png" alt=""></div>
        <div id="main">
            <label id="l-uname" for="uname">用户名</label>
            <input id="uname" type="text" placeholder="用户名" class="form-control" name="username">
            <br>

            <div id="pfather">
                <label id="l-password" for="password">密码</label>
                <input id="password" type="password" placeholder="密码" class="form-control" name="password">
            </div>
            <br>
            <button id="login" class="btn">登录</button>
        </div>
    </form>

</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{layer/layer.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/login.js}"></script>
</body>
</html>